body {
    --s: 25vmin;
    --p: calc(var(--s) / 2);
    --c1: rgb(255, 91, 121);
    --c2: bisque;
    --c3: white;
    --bg: var(--c3);
    --d: 12000ms;
    --e: cubic-bezier(0.76, 0, 0.24, 1);
    
    background-color: var(--bg);
    background-image:
      linear-gradient(45deg, var(--c1) 25%, transparent 25%),
      linear-gradient(-45deg, var(--c1) 25%, transparent 25%),
      linear-gradient(45deg, transparent 75%, var(--c2) 75%),
      linear-gradient(-45deg, transparent 75%, var(--c2) 75%);
    background-size: var(--s) var(--s);
    background-position: 
      calc(var(--p) *  1) calc(var(--p) *  0), 
      calc(var(--p) * -1) calc(var(--p) *  1), 
      calc(var(--p) *  1) calc(var(--p) * -1), 
      calc(var(--p) * -1) calc(var(--p) *  0);
    animation: 
      color var(--d) var(--e) infinite,
      position var(--d) var(--e) infinite;
  }
  
  @keyframes color {
    0%, 25% {
      --bg: var(--c3);
    }
    26%, 50% {
      --bg: var(--c1);
    }
    51%, 75% {
      --bg: var(--c3);
    }
    76%, 100% {
      --bg: var(--c2);
    }
  }
  
  @keyframes position {
    0% {
      background-position: 
        calc(var(--p) *  1) calc(var(--p) *  0), 
        calc(var(--p) * -1) calc(var(--p) *  1), 
        calc(var(--p) *  1) calc(var(--p) * -1), 
        calc(var(--p) * -1) calc(var(--p) *  0);
    }
    25% {
      background-position: 
        calc(var(--p) *  1) calc(var(--p) *  4), 
        calc(var(--p) * -1) calc(var(--p) *  5), 
        calc(var(--p) *  1) calc(var(--p) *  3), 
        calc(var(--p) * -1) calc(var(--p) *  4);
    }
    50% {
      background-position: 
        calc(var(--p) *  3) calc(var(--p) * 8), 
        calc(var(--p) * -3) calc(var(--p) * 9), 
        calc(var(--p) *  2) calc(var(--p) * 7), 
        calc(var(--p) * -2) calc(var(--p) * 8);
    }
    75% {
      background-position: 
        calc(var(--p) *  3) calc(var(--p) * 12), 
        calc(var(--p) * -3) calc(var(--p) * 13), 
        calc(var(--p) *  2) calc(var(--p) * 11), 
        calc(var(--p) * -2) calc(var(--p) * 12);
    }
    100% {    
      background-position: 
        calc(var(--p) *  5) calc(var(--p) * 16), 
        calc(var(--p) * -5) calc(var(--p) * 17), 
        calc(var(--p) *  5) calc(var(--p) * 15), 
        calc(var(--p) * -5) calc(var(--p) * 16);
    }
  }
  
  @media (prefers-reduced-motion) {
    body {
      animation: none;
    }
  }
body {
    background-color: white;
}

.Ads {
    position: sticky;
    top: 30%;
    z-index: 20;
}

#LeftAd {
    float: left;
    position: sticky;
    height: 60vh;

}

#RightAd {
    float: right;
    position: sticky;
    height: 60vh;
}

#container {
    display: flex;
    position: relative;
    font-family: 'Merriweather', serif;
}

#navigationBar {
    background-color: bisque;
    height: 120px;
    padding-right: 3%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
}

/* #CompanyName {
    color: #FFB84C;
    margin-left: 5%;
    font-size: 50px;
} */


#homeImage {

    background-repeat: no-repeat;
    background-size:contain;
    width: 100%;
    position: fixed;
    padding-right: 10%;
    height: 1200px;
    position: absolute;
    z-index: -50;
}

.Title {
     margin-top: 15%;
     text-align: center;
     font-size: 600%;
     font-weight: bold;
}
#log-out {
   margin-left: 85%;
    margin-top: -3%;
    font-size: 35px;
    text-decoration: none;
    color: crimson;
}

#cart {
    margin-left: 5%;
    font-size: 35px;
    padding-top: 5%;
    color: crimson;
    width: fit-content;
    margin-top: 10%;
}

#ItemsDiv {
    background-color: crimson;
    margin-top: 60%;
    margin-left: 5.5%;
    height: 50vh;
    display: flex;
}

.item {
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    margin-left: 2%;
    margin-right: 2%;
    margin-top: 3%;
    width: 400px;
    height: 550px;
    background-color: #f1a73a;
    border: 1px solid black;
    color: black;
}
.itemName{
    margin-top: -0%;
    background-color: antiquewhite;
    font-size: 40px;
}

#DinosaurAirplane {
    background-image: url("../Media/Toys_Kids_Item_1.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}
.item:hover #DinosaurAirplaneInformation{
    display: block;
}

#BasketballHoop {
    background-image: url("../Media/Toys_Kids_Item_2.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}
.item:hover #BasketballHoopInformation{
    display: block;
}

#Batmobile {
    background-image: url("../Media/Toys_Kids_Item_3.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}
.item:hover #BatmobileInformation{
    display: block;
}

#MagneticToys {
    background-image: url("../Media/Toys_Kids_Item_4.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

.item:hover #MagneticToysInformation{
    display: block;
}

.itemsInformation{
    display: none;
    background-color:bisque;
    height: 450px;
}
.price {
    font-size: 50px;
    font-weight: bold;
    color: green;
}

.addCartBtn {
    width: 200px;
    height: 50px;
    background-color: #2CD3E1;
    color: black;
    font-size: 20px;
    border-radius: 10px;
    transition: 0.5s;
}
.addCartBtn:hover {
    width: 150px;
    height: 40px;
}

.itemContent {
    font-size: 20px;
}

.amountBtn{
    width: 50px;
    height: 50px;
    font-size: 40px;
}
input{
    width: 50px;
    height: 50px;
    text-align: center;
    font-size: 50px;
}