.container{
    width: 300px;
    height: 500px;
    margin: auto;
    text-align: center;
    /* margin-top: 5%; */
    background-color: #A459D1;
    font-size: larger;
    font-family: 'Indie Flower', cursive;
    box-shadow: 5px 4px 12px 2px; 

}
h1{
    text-align: center;
    text-decoration: underline;
    font-family: 'Indie Flower', cursive;scale: 1.3;}
    body {
        background-image: url(../pics/backgrowns.gif);
        background-size: cover;
        margin: 0;
    }
label{
    position: relative;
top: 25px;
font-size: x-large;
}
input{
    position: relative;
    top: 25px;
}
button{
    position: relative;
    top: 45px; 
    background-color: #FFB84C;
    border-radius: 10px;
    scale: 1.2;
    transition: 0.7s;

}
button:hover{
    scale: 1.3;
    background-color: #eedbbf;
    box-shadow:0,0,3px,5px #A459D1;
    transition: 0.7s;
    box-shadow: 5px 4px 12px 2px; 


}
.btn{
text-align: center;

}
::placeholder{
    text-align: center;
}
.log{
    display: none;
    width: 300px;
    height: 300px;
    margin: auto;
    text-align: center;
    margin-top: 5%;
    background-color: #A459D1;
    font-size: larger;
    font-family: 'Indie Flower', cursive;
    box-shadow: 5px 4px 12px 2px; 

}
.lds-hourglass {
    display: none;
    position: relative;
    width: 80px;
    height: 80px;
    left: 48%;
    top: 15px
  }
  .lds-hourglass:after {
    content: " ";
    display: block;
    border-radius: 50%;
    width: 0;
    height: 0;
    margin: 8px;
    box-sizing: border-box;
    border: 32px solid #cef;
    border-color: #cef transparent #cef transparent;
    animation: lds-hourglass 1.2s infinite;
  }
  @keyframes lds-hourglass {
    0% {
      transform: rotate(0);
      animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
    }
    50% {
      transform: rotate(900deg);
      animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    }
    100% {
      transform: rotate(1800deg);
    }
  }